      body {
        background-color: rgb(216, 237, 255);
        font-family: 'Open Sans', sans-serif;
      }

      .box2 {
        background: white;
        width: 200px;
        height: 200px;
        position: relative;
        top: -700px;
      }
       
      * {
         margin: 0%;
         padding: 0%;
      }
      .header__logo {
         font-size: 30px;
     	 font-weight: 700;
     	 color: rgb(195, 196, 195);
         font-family: 'Alata', sans-serif;

         margin-left: 45px;
         padding: 20px;
      }

       header {
         background-color: white;
      }

       .block {
         background-color: white;
       }
       .about {
         color: rgb(195, 196, 195);
         font-weight: 500;
         font-size: 1.125rem;
         text-transform: uppercase;
         letter-spacing: 4px;
         margin: 0 auto 0 0;
         margin-left: 190px;
         margin-top: 140px;
      }

       .our_application {
         color: black;
         font-size: 45px;
         margin-left: 190px;
         margin-top: 15px;
         font-weight: 590 ;
      }

      ul {
         margin-left: 220px;
         margin-top: 15px;
         line-height: 2;
         font-size: 1.25rem;
      }

       .btn {
       	 display: inline-block;
       	 vertical-align: top;
       	 padding: 11px 50px 13px 48px;
         margin-top: 24px;
         margin-left: 195px;
       	
       	 font-weight: 400;
         letter-spacing: 2px;
       	 color: white;
         background-color: #2e937a ;
       	 text-transform: uppercase;
       	 text-decoration: none;
         font-size: 0.875rem;
         border-radius: 10px;
       	 transition: .1s;
       	 color: .1s linear;

       }

       .btn:hover {
       	 background-color: rgb(41, 41, 41);
       	 color: rgb(255, 255, 255);
       }
      
       .img {
         width: 450px;
         margin-left: 710px;
         position: relative;
         top: -400px;
       }

       .process {
         color: #2e937a;
         font-size: 55px;
         font-weight: 590;
         position: relative;
         margin-left: 380px;
         top: -280px;
       }

       .pr {
         width: 614px; 
         height: 96px;
         margin-left: 370px;
         position: relative;
         top: -250px;
        
         line-height: 2;
         font-size: 16px;
         word-wrap: break-word; 
       }

       .pr2 {
         width: 614px; 
         height: 96px;
         margin-left: 360px;
         position: relative;
         top: -310px;
       
         line-height: 2;
         font-size: 16px;
         word-wrap: break-word; 
      }
    
       .pr3 {
         width: 614px; 
         height: 96px;
         margin-left: 490px;
         position: relative;
         top: -370px;
       
         line-height: 2;
         font-size: 16px;
         word-wrap: break-word;
       }



       /* Button */ 

       .btn2 {
         display: inline-block;
       	 vertical-align: top;
       	 padding: 11px 50px 13px 48px;
         margin-left: 570px;
       	 position: relative;
       	 font-weight: 400;
         letter-spacing: 2px;
       	 color: white;
         background-color: #2e937a ;
       	 text-transform: uppercase;
       	 text-decoration: none;
         font-size: 0.875rem;
         border-radius: 10px;
         top: -400px;
       	 transition: background .1s
       	 linear, color .1s linear;
       }
      
       .btn2:hover {
       	 background-color: rgb(41, 41, 41);
       	 color: rgb(255, 255, 255);
       }
       
       .textt {
         max-height: 0px;
       }

       .wb {
         font-size: 40px;
         margin-left: 200px;
         color: #2e937a;
         position: relative;
         top: -250px;
       } 

       .text {
         font-size: 17px;
         line-height: 1.8;
         font-weight: 600;
         margin-left: 200px;
         color: #999999 ;
         position: relative;
         top: -240px;
       }

       /* Numbers */

       .first {
         margin-top: 77px;
         font-size: 9.375rem;
         background-image: none;
         font-family: Lalezar;
         line-height: 0.8;
         margin-left: 150px;
         color: #c8e8e0;
         position: relative;
         font-weight: 400;
         top: -150px;   
       }

       .second {
         margin-top: 77px;
         font-size: 9.375rem;
         background-image: none;
         font-family: Lalezar;
         line-height: 0.8;
         margin-left: 530px;
         color: #c8e8e0;
         position: relative;
         font-weight: 400;
         top: -350px;
        
       }
       .third {
         margin-top: 77px;
         font-size: 9.375rem;
         margin-left: 950px;
         background-image: none;
         font-family: Lalezar;
         line-height: 0.8;
         color: #c8e8e0;
         position: relative;
         font-weight: 600;
         top: -550px;

       }

       .fourth {
         margin-top: 77px;
         font-size: 9.375rem;
         margin-left: 150px;
         background-image: none;
         font-family: Lalezar;
         line-height: 0.8;
         color: #c8e8e0;
         position: relative;
         font-weight: 400;
         top: -300px;

       }

       .fith {
         margin-top: 77px;
         font-size: 9.375rem;
         background-image: none;
         font-family: Lalezar;
         line-height: 0.8;
         margin-left: 530px;
         color: #c8e8e0;
         position: relative;
         font-weight: 400;
         top: -500px;
       
       }

       .sixth {
         margin-top: 77px;
         font-size: 9.375rem;
         background-image: none;
         font-family: Lalezar;
         line-height: 0.8;
         margin-left: 950px;
         color: #c8e8e0;
         position: relative;
         font-weight: 400;
         top: -700px;
        
       }
      
       .bg  {
         line-height: 1.2;
         position: relative;
         margin-left: 190px;
         top: -1220px;
         font-weight: 400;
         
       } 
     
       .text1 {
         line-height: 1.8;
         font-weight: 300;
         margin: 20px auto 0 0;
         position: relative;
         margin-left: 190px;
         top: -1210px;
      
        }

       .sp{
         line-height: 1.2;
         position: relative;
         margin-left: 570px;
         top: -1443px;
         font-weight: 400; 
        
        }

       .text2 {
         line-height: 1.8;
         font-weight: 300;
      
         position: relative;
         margin-left: 570px;
         top: -1415px;
     
        }

       .tm {
         line-height: 1.2;
         position: relative;
         margin-left: 990px;
         top: -1645px;
         font-weight: 400;  
      
        }

       .text3 {
         line-height: 1.8;
         font-weight: 300;
      
         position: relative;
         margin-left: 990px;
         top: -1617px;
      
        } 

       .bi {
         line-height: 1.2;
         position: relative;
         margin-left: 190px;
         top: -1405px;
         font-weight: 400;  
      
        }

       .text4 {
         line-height: 1.8;
         font-weight: 300;
         margin: 20px auto 0 0;
         position: relative;
         margin-left: 190px;
         top: -1395px;
      
        }

       .gg {
         line-height: 1.2;
         position: relative;
         margin-left: 570px;
         top: -1628px;
         font-weight: 400; 
       
        }

       .text5 {
         line-height: 1.8;
         font-weight: 300;
         position: relative;
         margin-left: 570px;
         top: -1600px;
      
        }

       .gb {
         line-height: 1.2;
         position: relative;
         margin-left: 990px;
         top: -1830px;
         font-weight: 400; 
      
        } 

       .text6 {
         line-height: 1.8;
         font-weight: 300;
         position: relative;
         margin-left: 990px;
         top: -1805px;
     
        }



        /* Our Features & Services. */
        
       .features {
         text-align: center;
         position: relative;
         display: block;

        }

       .features.services {
         pointer-events: none;
         min-height: 852px;
         justify-content: center;
         width: 540px;
        }

       .u-text1 {
         text-transform: uppercase;
         letter-spacing: 3px;
         font-style: normal;
         margin: 60px 82px 0;
         color: #2e937a ;
         position: relative;
         top: -420px;
         font-weight: 400;
         font-size: 1.5rem;
         line-height: 1.2;
        }

       .u-text2 {
         text-transform: none;
         font-weight: 600;
         font-size: 3rem;
         margin: 30px auto 0;
         color: #2e937a ;
         position: relative;
         display: table;
         align-self: flex-start;
         margin-left: 420px;
         top: -430px;

        }

       .u-list1 {
         flex-direction: column;
         margin: 49px auto 0;

        }

       .u-list-item1 {
         background-image: none;
         background-color: #ffffff;
         border-radius: 20px;
         width: 300px;
         height: 500px;
         position: relative;
         top: -450px;
         margin-left: 185px;

        }

       .container-layot-1 {
         position: relative;
         flex: 1;
         max-width: 100%;

        }

       .u-image1 {
         height: 414px;
         width: 250px;
         object-fit: contain;
         background-size: contain;
         top: -70px;
         position: relative;

        }  
     
       .u-text3 {
         font-weight: 900;
         font-size: 1.4rem;
         margin: 25px auto 0;
         color: #2e937a;
         position: relative;
         top: -160px;

        } 

       .u-text4 {
         margin-top: 20px;
         margin-bottom: 0;
         font-size: 1rem;
         margin-left: 0;
         color: #376358;
         position: relative;
         top: -150px;

        }

       .btn-1 {
         vertical-align: top;
         padding: 8px 46px 7px 45px;
         margin-top: 24px;
         margin-left: 10px;
         position: relative;
         top: -120px;
         font-weight: 400;
         letter-spacing: 2px;
         color: white;
         background-color: #2e937a ;
         text-transform: uppercase;
         text-decoration: none;
         font-size: 0.875rem;
         border-radius: 10px;
  
        }
     
       .container-layot-2 {
         background-image: none;
         background-color: #ffffff;
         border-radius: 20px;
         width: 300px;
         height: 500px;
         position: relative;
         top: -583px;
         margin-left: 330px;

        }
      
       .u-image2 {
         height: 414px;
         width: 250px;
         object-fit: contain;
         background-size: contain;
         position: relative;
         top: -70px;

        }

       .u-text5 {
         font-weight: 900;
         font-size: 1.4rem;
         margin: 25px auto 0;
         color: #2e937a;
         position: relative;
         top: -160px;

        } 

       .u-text6 {
         margin-top: 20px;
         margin-bottom: 0;
         font-size: 0.975rem;
         margin-left: 0;
         color: #376358;
         position: relative;
         top: -150px;
       
        }

       .btn-2 {
         vertical-align: top;
         padding: 8px 46px 7px 45px;
         margin-top: 24px;
         margin-left: 10px;
         position: relative;
         top: -120px;
         font-weight: 400;
         letter-spacing: 2px;
         color: white;
         background-color: #2e937a ;
         text-transform: uppercase;
         text-decoration: none;
         font-size: 0.875rem;
         border-radius: 10px;
        
        }

       .container-layot-3 {
         background-image: none;
         background-color: #ffffff;
         border-radius: 20px;
         width: 300px;
         height: 500px;
         position: relative;
         top: -1085px;
         margin-left: 680px;
        
        } 

      .u-image3 {
        height: 414px;
        width: 250px;
        object-fit: contain;
        background-size: contain;
        top: -70px;
        position: relative;
       
        }

      .u-text-7 {
        font-weight: 900;
        font-size: 1.4rem;
        margin: 25px auto 0;
        color: #2e937a;
        position: relative;
        top: -160px;
       
        }

      .u-text-8 {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 0.975rem;
        margin-left: 0;
        color: #376358;
        position: relative;
        top: -150px;
        
        }
    
      .btn-3 {
        vertical-align: top;
        padding: 8px 46px 7px 45px;
        margin-top: 24px;
        margin-left: 10px;
        position: relative;
        top: -120px;
        font-weight: 400;
        letter-spacing: 2px;
        color: white;
        background-color: #2e937a ;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.875rem;
        border-radius: 10px;

       } 

      .u-text-9 {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.8;
        width: 412px;
        word-wrap: break-word;
        position: relative;
        top: -420px;
        margin-left: 435px;
       
       }

      .btn-4 {
        color: #111111;
        display: inline;
        position: relative;
        margin-left: 95px;
        top: -448px;
       
       }

    